<div class="header_container">
    <div class="header_container_short_advice">
        <div class="header_container_short_advice_contact">
            <a class="header_container_short_advice_contact_link">Escríbenos por WhatsApp: 302 2200200</a>
            <span>|</span>
            <a class="header_container_short_advice_contact_link">Servicio al cliente</a>
        </div>
    </div>
    <div class="header_container_menu">
        <div class="header_container_menu_content">
            <div class="header_container_menu_logo">
                <a href="#">
                    <img src="assets/img/logo.webp" alt="" srcset="">
                </a>
            </div>
            <div class="header_container_menu_searcher">
                <app-searcher/>
            </div>
            <div class="header_container_menu_user_icon">
                <app-user-menu></app-user-menu>
                <i class="fa-solid fa-magnifying-glass" style="font-size: 30px;"></i>
            </div>
        </div>
    </div>
</div>